/* IMAGE GALLERY CSS */

/* *{
    border:dashed; 
} */

.image-gallery {
    height: 100%;
    display: grid;
    margin: 0 auto;
    align-content: center;
    /* grid-template-columns: 1fr minmax(500px, 1fr)  minmax(500px, 1fr); */
    grid-template-rows: auto;
    grid-template-columns: 10% 40% 40% 10%;
    grid-gap: 10px;
    /* column-gap: 50px; */
    padding-top: 75px;
    grid-template-areas:
    ". a b ."
    ". c d ."
    ". e f ."
    ". i li ."
    ;
}

.box-styling {
    height: 350px;
    /* background-color: rgb(110, 110, 110); */
    /* clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); */
  }

.box1 {
    grid-area: a;
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */

}

.box2 {
    grid-area: b;
}

.box3 {
    grid-area: c;
    padding-top: 75px;
}

.box4 {
    grid-area: d;
    padding-top: 75px;
}

.box5 {
    grid-area: e;
}

.box6 {
    grid-area: f;
}

.bigText {
    font-size: 2em;
    padding-right: .5ch;
}

img:hover {
    opacity: 75%;
}

/* .instagram {
    grid-area: i;
    width: 9%;
    margin-top: 150px;
    margin-bottom: 50px;
}

.linkedin {
    grid-area: li;
    width: 16%;
    margin-top: 150px;
    margin-bottom: 50px;
    margin-left: 120px;
} */

@media (max-width:735px){

    .image-gallery {
        display: grid;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        align-content: center;
        /* grid-gap: 150px; */
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ;
    }

    .box1 {
        grid-area: a;
        /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
    
    }
    
    .box2 {
        grid-area: b;
    }
    
    .box3 {
        grid-area: c;
        /* padding-top: 75px; */
    }
    
    .box4 {
        grid-area: d;
        /* padding-top: 75px; */
    }

    .socials {
        display: grid;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        align-content: center;
        /* grid-gap: 150px; */
        grid-template-areas:
            "i li"
        ;
    }

    .instagram {
        grid-area: i;
        width: 18%;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: 30px;
    }
    
    .linkedin {
        grid-area: li;
        width: 24%;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: -15px;
    }

}